* {
  /* border: 1px solid black; */
}
:root {
  font-size: calc(0.625rem + 2vw);
}

.people {
  display: flex;
}

.people-controls {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.people-controls input {
  margin: 0.5rem 0;
  padding: 0 1rem;
  border-radius: 1rem;
}
.person {
  padding: 1em;
  border: solid;
  flex: initial;
}

.stats {
  padding: 1rem;
  background-color: gainsboro;
  border-radius: 1rem;
}
